body{
    background: gray;
}
a{
    color: black;
    text-decoration: none; 
}
a:hover{
    text-decoration: underline;
    color: lightblue;
}
.LoginDiv{
    font-size: 30px;
    width: 30%;
    border-radius: 15px;
    margin-left: 33%;
    margin-top: 10%;
    padding: 25px;
    background: #b2b2b2;
}

.buttons
{
    font-size: 15px;
    border-radius: 10px;
    width: 17%;
    margin-left: 0%;
    font-family: 'Ubuntu', sans-serif;
}
input[type="text"],input[type="password"]{
    border-radius: 25px;
    font-size: 15px;
    width: 20%;
    height: 20px;
    padding: 5px;
}
#loginResult{
    font-size: 20px;
    color: red;
}
#accessUIDiv{
    background: #b2b2b2;
    width: 70%;
    border-radius: 15px;
    padding: 25px;
}

<<<<<<< Updated upstream
=======
#searchContent{
    background: #56ad77;
    width: 400px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
#addContent{
    background: #56ad77;
    width: 400px;
    border-radius: 25px;
    padding: 10px;
}
#resultContent{
    background: #56ad77;
    width: 40%;
    border-radius: 25px;
    margin-left: 10px;
    padding: 20px;
    font-size: large;
    height: 300px;

    overflow: auto;


}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#editContent{
    background: #56ad77;
    width: 30%;
    border-radius: 25px;
    margin-left: 10px;
    padding: 20px;
}

.box{
    display: flex;
}
>>>>>>> Stashed changes
