
title {
    font-family: 'Maven Pro', sans-serif;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    font-weight:500;
}

body{
    background: rgb(18, 20, 24);
    font-family: 'Maven Pro', sans-serif;

}
a{
    color: rgb(36, 149, 255);
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 15px;
    margin-left: 10%;
    font-size: 30px;
    
}
h1{
    color: rgb(36, 149, 255);
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 15px;
    margin-left: 10%;
    font-size: 30px;
    
}


a:hover{
    /* text-decoration: underline; */
    color: rgb(94, 155, 212);
}

.HomeDiv{
    font-size: 30px;
    width: 20%;
    border-radius: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    padding: 25px;
    padding-bottom: 30px;
    background: #88c5ff;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(31, 31, 31);
    font-weight: normal;
}

.LoginDiv{
    font-size: 30px;
    width: 25%;
    border-radius: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    padding: 25px;
    padding-bottom: 30px;
    background: #88c5ff;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(31, 31, 31);
    font-weight: normal;
}

.log__container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Maven Pro', sans-serif;
}

.header__container {
    height: 80px;
    margin-top: 25px;
    justify-content: space-around;
    font-family: 'Maven Pro', sans-serif;
}

.header__side {
    display: flex;
    align-items: center;
    margin-left: 70%;
    font-family: 'Maven Pro', sans-serif;
}

.log__text {
    display: flex;
    align-items: center;
    vertical-align: middle;
    /*width: 50%;*/
    font-size: 32px;
    font-weight: normal;
    text-align: left;
    line-height: 34px;
    font-family: 'Maven Pro', sans-serif;
}

.index__text {
    display: flex;
    vertical-align: middle;
    /*width: 50%;*/
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    line-height: 34px;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
}

.or_text {
    display: flex;
    vertical-align: middle;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    padding: 5px 0;
    padding-bottom: px;
    line-height: 20px;
    font-family: 'Maven Pro', sans-serif;
}

br {
    display: block;
    margin: 5px 0;
 }


p.small{
    line-height: 0.1;
}

p.big{
    line-height: 1;
}

.input__fields {
    border:0;
    border-radius: 2px;
    font-family: 'Maven Pro', sans-serif;
}

.login__fields {
    border:0;
    border-radius: 2px;
    align-items: center;
    margin: auto;
    width: auto;
    font-family: 'Maven Pro', sans-serif;
}


.name__fields {
    border:0;
    border-radius: 2px;
}

.buttons
{
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    width: auto;
    padding: 0px;
    padding-left: 13px;
    padding-right: 13px;
    margin: auto;
    height: 40px;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(210, 233, 255);
    background-color: rgb(26, 101, 170);
    border: 0;
}

.index_buttons
{
    display:flex;
    font-size: 20px;
    border-radius: 20px;
    width: auto;
    padding: 0px;
    padding-left: 13px;
    padding-right: 13px;
    margin: auto;
    height: 40px;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(210, 233, 255);
    background-color: rgb(26, 101, 170);
    border: 0;
}

.manageButtons
{
    font-size: 15px;
    border-radius: 16px;
    width: auto;
    padding: 9px;
    padding-left: 10px;
    padding-right: 10px;
    height: 27px;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(189, 207, 196);
    background-color: rgb(26, 101, 170);
    border:0;
    display: inline-flex;
}

.buttons:hover{
    /* text-decoration: underline; */
    color: rgb(154, 180, 204);
}

.index_buttons:hover{
    /* text-decoration: underline; */
    color: rgb(154, 180, 204);
}

.manageButtons:hover{
    /* text-decoration: underline; */
    color: rgb(154, 180, 204);
}

input[type="text"],input[type="password"],input[type = "tel"]{
    border-radius: 5px;
    font-size: 17px;
    width: 40%;
    height: 25px;
    padding: 7px;
    background: rgb(70, 72, 75);
    color: rgb(227, 255, 245);
    font-family: 'Maven Pro', sans-serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    
}

#link{
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
}


#loginResult{
    font-size: 20px;
    color: red;
}
#registerResult{
    font-size: 20px;
    color: red;
}
#accessUIDiv{
    background: #88c5ff;
    width: 90%;
    border-radius: 15px;
    padding: 25px;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(31, 31, 31);
    font-weight: normal;
}

#searchContent{
    background: #88c5ff;
    width: 400px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
#addContent{
    background: #88c5ff;
    width: 400px;
    border-radius: 25px;
    padding: 10px;
}
#resultContent{
    background: #88c5ff;
    width: 40%;
    border-radius: 25px;
    margin-left: 10px;
    padding: 20px;
    font-size: 15pt;
    height: 344px;
    overflow: auto;
    font-family: 'Maven Pro', sans-serif;
}



::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(26, 101, 170);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#editContent{
    background: #88c5ff;
    width: 21%;
    border-radius: 25px;
    margin-left: 10px;
    padding: 20px;
}

.box{
    display: flex;
    padding-left: 2%;
}

.logoutButton{
    padding-left: 2%;
}

.typing-container {
    position: absolute;
    width: 100%;
    bottom: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    color: #85b4e0;
    font-size: 40pt;
    
}

#feature-text {
    margin-left: 13px;
  }

.input-cursor {
    display: inline-block;
    width: 3px;
    height: 50px;
    background-color: rgb(151, 151, 151);
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

